.link-port{
    overflow: hidden;
    transition: transform 0.3s;
}
.img-port{
    height: 125px;
    width: 125px;
    border-radius: 10px;
    transform: scale(1);
    transition: transform 0.3s;
}
.link-port:hover .img-port {
    transform: scale(1.2); 
  }
