    /* Gerais */
body{
    margin: 0;
    background-color:#191a1b;
}
.all-content{
    display: flex;
    justify-content: space-around;
    background-color: #202124;
    margin: 0 auto;
    max-width: 1160px;
    border-radius: 10px;
}
h1, h2{
    color: #d0ecf4;
    font-family: fantasy;
    font-weight: lighter;
}
    /* Gerais */

    /* Foto */
.foto{
        display: flex;
        align-items: center;
        padding-bottom: 2vw;
}    
.fotoperfil{
    height: 350px;
    width: auto;
}
    /* Foto */

   /* Servicos */ 
.serv-desc{
    display: grid;
    grid-template-columns: 17vw 17vw; 
    grid-template-rows: auto;
    gap: 1.5vw;
}
    /* Servicos */ 

    /* Contatos */
.cont{
    display: flex;
    justify-content: center;
    gap: 5vw;
    padding-top: 2vh;
}
    /* Contatos */


@media screen and (max-width: 810px) {
    .all-content {
      flex-direction: column;
    }
.foto{
    display: none;
  }
.serv-desc{
    display: flex;
    flex-direction: column;     
}
.portfolio{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

}